* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lucida Console", "Andale Mono", sans-serif;
  font-size: 1em;
  color: #2d3c49;
}

img,
video,
object,
embed {
    max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
}

.logo {
  max-width: 60px;
}

.author {
  text-align: right;
  text-transform: uppercase;
}

.author h1 {
  font-size: 2rem;
}

.author h2 {
  font-size: 1.5rem;
  color: #7d97ad;
}

.hero-image {
  background-image: url(../img/do-something-great.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 15rem;
}

#nav-bar {
  position: absolute;
  top: 0.5rem;
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
}

#nav-bar a {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  padding: 0 1rem;
}

#nav-bar a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hero-image p {
  position: absolute;
  bottom: 0.5rem;
  font-size: 0.7rem;
  left: 1rem;
  color: #595b5e;
}

.title-gallery {
  font-size: 1.5rem;
  color: #7d97ad;
  padding: 0.5rem;
}

figure {
  text-align: center;
  padding: 1rem 0;
  position: relative;
}

figure p {
  font-size: 0.7rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #cfcfcf;
  /* background-color: #000; */
}

figcaption {
  font-size: 1.5rem;
  text-transform: uppercase;
}

a {
  font-size: 1rem;
  text-decoration: none;
  color: #7d97ad; 
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.gallery {
  display: flex;
  flex-direction: column;
}

footer {
  padding: 1rem;
  text-align: center;
}

.fab {
  font-size: 2rem;
  color: #7d97ad;
  padding: 1rem;
}

@media screen and (min-width: 500px) {
  html {
    font-size: 1.1em;
  }

  .hero-image {
  min-height: 20rem;
}
  .projects {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  figure {
    width: 50%;
  }

  figure img {
    padding: 0 0.5rem;
  }
}

@media screen and (min-width: 700px) {
  .hero-image {
  min-height: 25rem;
  }

  .projects {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  figure {
    width: 33.333%;
  }

  figure img {
    padding: 0 0.5rem;
  }
}

@media screen and (min-width: 1200px) {
  body {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}